.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  text-align: center;
  position: relative;
  left: 225px;
  width: 538.075px;
  height: 320px;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  visibility: visible;
}

.p1wins {
  position: absolute;
  left: 450px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 538.075px;
  height: 320px;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  visibility: hidden;
}

.p2wins {
  position: absolute;
  left: 450px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 538.075px;
  height: 320px;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  visibility: hidden;
}

.draw {
  position: absolute;
  left: 450px;
  right: 0px;
  top: 100px;
  bottom: 0px;
  width: 538.075px;
  height: 320px;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  visibility: hidden;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 204.8px;
  height: 204.8px;
}

.p1img1 {
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: visible;
}

.p1img6 {
  position: absolute;
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: hidden;
}

.p1img2 {
  position: absolute;
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: hidden;
}

.p1img3 {
  position: absolute;
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: hidden;
}

.p1img4 {
  position: absolute;
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: hidden;
}

.p1img5 {
  position: absolute;
  text-align: center;
  display: inline-block;
  right: 50.5%;
  visibility: hidden;
}

.p2img1 {
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: visible;
}

.p2img6 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

.p2img6 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

.p2img2 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

.p2img3 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

.p2img4 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

.p2img5 {
  position: absolute;
  text-align: center;
  display: inline-block;
  left: 50.5%;
  visibility: hidden;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
